
<% if @usermdegdels.any? %>
  <div class="hidden_box">
  <label for="mdegdel">ᠮᠡᠳᠡᠭᠳᠡᠯ</label>
  <input type="checkbox" id="mdegdel" checked="checked"/>
  <div class="hidden_show">

    <section class="mdegdel">
      <ul>
      <% @usermdegdels.each do |usermdegdel| %>
        <% if usermdegdel.f4.present? and usermdegdel.f5.present? %>
          <% if usermdegdel.f4.strftime('%Y%m%d%H%M').to_i<=DateTime.now.strftime('%Y%m%d%H%M').to_i and usermdegdel.f5.strftime('%Y%m%d%H%M').to_i>DateTime.now.strftime('%Y%m%d%H%M').to_i %>

            <% if usermdegdel.ga1.present? or usermdegdel.ga2.present? or usermdegdel.name.present? %>
                <li>
                  <label><%= usermdegdel.ga1 %></label>
                  <% if usermdegdel.f4.present? %>
                    <span class="mailfrom">
                      <%= usermdegdel.f4.strftime('%Y.%m.%d %H:%M') %> ᠠ᠋ᠴᠠ <%= usermdegdel.f5.strftime('%Y.%m.%d %H:%M') %> ᠳ᠋ᠤ ᠨᠡᠢᠲᠡᠯᠡᠨ᠎ᠡ᠃
                    </span>
                  <% end %>
                  <br>
                  <%= usermdegdel.ga2 %><br>
                  <span class="text"><%= usermdegdel.name %></span>
                </li>
                <div class="johiogq">
                  <%= usermdegdel.updated_at.strftime('%Y.%m.%d %H:%M') %>
                </div>
            <% end %>

          <% end %>
        <% end %>
      <% end %>
      </ul>
    </section>
</div>
</div>
<hr>
<% end %>

<% if session[:user_id] %>

  <% if @inmails.any? %>

    <div class="hidden_box">
      <label for="label7">ᠵᠠᠬᠢᠲᠠᠯ &ensp;</label>
      <input type="checkbox" id="label7" checked="checked"/>
        <div class="hidden_show">
            <ul>
              <% @inmails.each do |mail| %>
                  <% if mail.f6 and !mail.f7 %>
                      <li>
                        <%= link_to mail.f1,mail_path(mail),class:'command' %>&ensp;
                        <%= mail.f2 %>&ensp;
                        <%= mail.a2 %>&ensp;
                        <span class="mailfrom"><%= mail.nickname %>&ensp;<%= mail.f6.strftime('%Y.%m.%d %H:%M') %>&ensp;ᠲᠤ ᠢᠯᠡᠭᠡᠪᠡ᠃</span>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        </div>
    </div>
    <hr>
  <% end %>

  <% if @inrmails.any? %>

    <div class="hidden_box">
      <label for="label8">ᠬᠠᠷᠢᠭᠤ ᠵᠠᠬᠢᠲᠠᠯ &ensp;</label>
      <input type="checkbox" id="label8" checked="checked"/>
        <div class="hidden_show">
            <ul>
              <% @inrmails.each do |rmail| %>
                  <% if rmail.ff6 and !rmail.ff7 %>
                      <li>
                        <%= link_to rmail.ff1,mail_path(rmail.mail_id),class:'command' %>&ensp;
                        <%= rmail.ff2 %>&ensp;
                        <%= rmail.aa2 %>&ensp;
                        <span class="mailfrom"><%= rmail.nickname %>&ensp;<%= rmail.ff6.strftime('%Y.%m.%d %H:%M') %>&ensp;ᠲᠤ ᠢᠯᠡᠭᠡᠪᠡ᠃</span>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        </div>
    </div>
  <% end %>
  <hr>
<% end %>

<% if @motds.any? %>

  <div class="hidden_box">
  <label for="soyol">ᠰᠣᠶᠤᠯ ᠤᠷᠠᠯᠢᠭ</label>
  <input type="checkbox" id="soyol" checked="checked"/>
  <div class="hidden_show">

    <% if @payunits.any? %>
      <ul>
      <% @payunits.each do |payunit| %>
        <% if payunit.f6.present? and payunit.mtf7.present? %>
          <% if payunit.f6.strftime('%Y%m%d%H%M').to_i<=DateTime.now.strftime('%Y%m%d%H%M').to_i and payunit.f7.strftime('%Y%m%d%H%M').to_i>DateTime.now.strftime('%Y%m%d%H%M').to_i %>
            <% if payunit.f4.present? %>
              <% if payunit.f4>=0 %>
                <li>
                <%= link_to payunit.f1,motd_path(payunit.motd_id),class:'command' %>
                <span class="mailfrom" style="background-color:#FFE4E1;">
                  <%= payunit.f4.round(0) %><%= payunit.name.strip %> ᠵᠣᠭᠤᠰ᠃
                </span>
                <span class="mailfrom">
                  <%= payunit.f6.strftime('%Y.%m.%d %H:%M') %> ᠠ᠋ᠴᠠ <%= payunit.f7.strftime('%Y.%m.%d %H:%M') %> ᠳ᠋ᠤ ᠨᠡᠢᠲᠡᠯᠡᠨ᠎ᠡ᠃
                </span>
                </li>
              <% end %>
            <% else %>
              <li>
              <%= link_to payunit.f1,motd_mott_path(payunit.motd_id,payunit.mott_id),class:'command' %>
              <span class="mailfrom">
                <%= payunit.f6.strftime('%Y.%m.%d %H:%M') %> ᠠ᠋ᠴᠠ <%= payunit.f7.strftime('%Y.%m.%d %H:%M') %> ᠳ᠋ᠤ ᠨᠡᠢᠲᠡᠯᠡᠨ᠎ᠡ᠃
              </span>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% if session[:user_id]==1 or session[:user_fname]=='ᠪᠠᠭᠰᠢ' or session[:user_fname]=='ᠬᠢᠨᠠᠭᠴᠢ' %>
        <h2>
          <span class="Ankhaaruulga">&ensp;ᠬᠢᠨᠠᠬᠤ</span>
        </h2>
        <% @motds.each do |motd| %>
          <% bgs=0 %>
          <% if session[:user_fname]=='ᠪᠠᠭᠰᠢ' then %>
            <% if @mymlqdbs.any? %>
              <% @mymlqdbs.each do |mymlqdb| %>
                <% if mymlqdb.a9<Time.now and mymlqdb.f9>Time.now %>

                  <% if @mlqdbs.any? %>
                    <% @mlqdbs.each do |mlqdb| %>
                      <% if mlqdb.a9<Time.now and mlqdb.f9>Time.now %>
                        <% if mlqdb.user_id==motd.f3 %>
                          <% if mymlqdb.a1.strip==mlqdb.a1.strip and mymlqdb.f1.strip==mlqdb.f1.strip and mymlqdb.a2.strip==mlqdb.a2.strip %>
                              <% bgs=1 %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>

                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% if session[:user_id]==1 or session[:user_fname]=='ᠬᠢᠨᠠᠭᠴᠢ' %>
              <% bgs=1 %>
            <% end %>
          <% end %>

           <% if bgs==1 and motd.motts.any? %>
              <ul>
              <% motd.motts.each do |mott| %>
                <% if mott.f3.present? %>
                  <% if mott.f3==1 and !mott.f6.present? %>
                    <% if session[:user_id]==1 or session[:user_fname]=='ᠪᠠᠭᠰᠢ' %>
                      <li>
                      <%= link_to mott.f1,motd_mott_path(motd,mott),class:'command' %>
                      </li>
                    <% end %>
                  <% else %>
                    <% if mott.f3==1 and !mott.f7.present? %>
                      <% if session[:user_id]==1 or session[:user_fname]=='ᠬᠢᠨᠠᠭᠴᠢ' %>
                        <li>
                        <%= link_to mott.f1,motd_mott_path(motd,mott),class:'command' %>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              </ul>
           <% end %>
        <% end %>
    <% end %>

    <% if @payunitjahs.any? %>
      <% ihar=0 %>
      <% @payunitjahs.each do |payunitjah| %>
        <% if payunitjah.f3==session[:user_id] and payunitjah.f7.strftime('%Y%m%d%H%M').to_i>Time.now.strftime('%Y%m%d%H%M').to_i then %>
          <% if ihar==0 then %>
            <h2>
              <span class="Ankhaaruulga">&ensp;ᠬᠠᠷᠢᠭᠤᠯᠬᠤ</span>
            </h2>
            <% ihar=ihar+1 %>
            <ul>
          <% end %>
          <li>
          <%= link_to payunitjah.f1,motd_path(payunitjah.motd_id),class:'command' %>\
          <span class="mailfrom">
            <% if payunitjah.uname.present? %>
              <%= payunitjah.uname %>
            <% else %>
              <% if payunitjah.userid.present? %>
                <%= payunitjah.userid %>
              <% end %>
            <% end %>
              ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
           </span>
          <% if payunitjah.jff6.present? %>
            <span class="mailfrom">
              <%= payunitjah.jff6.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>
          </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% if @payunitjahs.any? %>
      <% iminijah=0 %>
      <% @payunitjahs.each do |payunitjah| %>
        <% if payunitjah.userid==session[:user_id] and payunitjah.jff7.present? %>
          <% if payunitjah.jf7.strftime('%Y%m%d%H%M').to_i>DateTime.now.strftime('%Y%m%d%H%M').to_i %>
            <% if iminijah==0 then %>
              <h2>
                <span class="Ankhaaruulga">&ensp;ᠮᠢᠨᠦ ᠵᠠᠬᠢᠶᠠᠯᠠᠯᠭ᠎᠎ᠠ</span>
              </h2>
              <% iminijah=iminijah+1 %>
              <ul>
            <% end %>
            <li>
            <%= link_to payunitjah.f1,motd_path(payunitjah.motd_id),class:'command' %>
            <% if payunitjah.jf4.present? %>
              <span class="mailfrom">
              \<%= payunitjah.jf4.round(0) %><%= payunitjah.jname.strip %> ᠵᠣᠭᠤᠰ\
              </span>
            <% end %>
            <% if payunitjah.jf6.present? %>
              <span class="mailfrom">
                <%= payunitjah.jf6.strftime('%Y.%m.%d %H:%M') %> ᠠ᠋ᠴᠠ <%= payunitjah.jf7.strftime('%Y.%m.%d %H:%M') %> ᠳ᠋ᠤ ᠦᠵᠡᠬᠦ᠃
              </span>
            <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% piccnt=0 %>
    <% if @mottimages.any? %>
      <% @mottimages.each do |mottimage| %>

        <% shimg=0 %>
        <% if @payunits.any? %>
          <% @payunits.each do |payunit| %>
            <% if payunit.f6.present? and !payunit.f4.present? %>
              <% if mottimage.mott_id==payunit.mott_id and mottimage.mtf7.present? %>
                <% shimg=1 %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if mottimage.picture.present? and shimg==1 %>

        <% end %>

      <% end %>
    <% end %>
  </div>
  </div>
<% end %>

<% if @usershops.any? %>
  <hr>
  <div class="hidden_box">
  <label for="delguur">ᠠᠷᠠᠯᠵᠢᠶ᠎ᠠ</label>
  <input type="checkbox" id="delguur" checked="checked"/>
  <div class="hidden_show">

  <ul>
    <% shopcn=0 %>
    <% usershopuser_id=-1 %>
    <% usershopid=-1 %>
    <% usershopname1="" %>
    <% @usershops.each do |usershop| %>
      <% if usershop.usershopunes.any? %>
          <% if shopcn<15 then %>
            <li>
            <%= link_to usershop.name2,user_usershop_path(usershop.user_id,usershop.id),class:'command'  %>\
            <%= link_to usershop.name1,user_usershop_path(usershop.user_id,usershop.id),class:'command'  %>
            </li>
          <% end %>
          <% shopcn=shopcn+1 %>
          <% usershopuser_id=usershop.user_id %>
          <% usershopid=usershop.id %>
          <% usershopname1=usershop.name1 %>

      <% end %>
    <% end %>
    <% if shopcn>=15 then %>
      <li>
      <%= link_to '···ᠪᠤᠰᠤᠳ ᠠᠷᠢᠯᠵᠢᠶ᠎ᠠ···',user_usershop_path(usershopuser_id,usershopid),class:'command'  %>
      </li>
    <% end %>
  </ul>

  <% if session[:user_id] and @usershopunejahs.any? %>
    <% iarhar=0 %>
    <% @usershopunejahs.each do |usershopunejah| %>
      <% if usershopunejah.user_id==session[:user_id] and usershopunejah.dune.present? and !usershopunejah.get2dt.present? %>
        <% if iarhar==0 then %>
          <h2>
            <span class="Ankhaaruulga">&ensp;ᠬᠠᠷᠢᠭᠤᠯᠬᠤ</span>
          </h2>
          <% iarhar=iarhar+1 %>
          <ul>
        <% end %>
        <li>
          <%= usershopunejah.name2 %>\<%= usershopunejah.name1 %>\
          <%= link_to usershopunejah.name,user_usershop_path(usershopunejah.user_id,usershopunejah.usershop_id),class:'command' %>\
          <% if usershopunejah.une2.present? %>
            <%= usershopunejah.une2 %><%= usershopunejah.unit2 %>&ensp;ᠵᠣᠭᠤᠰ᠃\
          <% end %>
          <span class="mailfrom">
            <% if usershopunejah.uname.present? %>
              &nbsp;<span class="text"><%= usershopunejah.uname %></span>
            <% else %>
              <% if usershopunejah.userid.present? %>
                &nbsp;<span class="text"><%= usershopunejah.userid %></span>
              <% end %>
            <% end %>
            ᠠ᠋ᠴᠠ ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
          </span>
          <% if usershopunejah.dune.present? %>
            <span class="mailfrom">
              <%= usershopunejah.dune.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>

  <% if session[:user_id] and @usershopunejahs.any? %>
    <% iarjah=0 %>
    <% @usershopunejahs.each do |usershopunejah| %>
      <% if usershopunejah.userid==session[:user_id] and usershopunejah.dune.present? and !usershopunejah.get2dt.present? %>
        <% if iarjah==0 then %>
          <h2>
            <span class="Ankhaaruulga">&ensp;ᠮᠢᠨᠦ ᠵᠠᠬᠢᠶᠠᠯᠠᠯᠭ᠎᠎ᠠ</span>
          </h2>
          <% iarjah=iarjah+1 %>
          <ul>
        <% end %>
        <li>
          <%= usershopunejah.name2 %>\<%= usershopunejah.name1 %>\
          <%= link_to usershopunejah.name,user_usershop_path(usershopunejah.user_id,usershopunejah.usershop_id),class:'command' %>\
          <% if usershopunejah.une2.present? %>
            <%= usershopunejah.une2 %><%= usershopunejah.unit2 %>&ensp;ᠵᠣᠭᠤᠰ\
          <% end %>
          <span class="mailfrom">
            <% if usershopunejah.uname.present? %>
              &nbsp;<span class="text"><%= usershopunejah.uname %></span>
            <% else %>
              <% if usershopunejah.userid.present? %>
                &nbsp;<span class="text"><%= usershopunejah.userid %></span>
              <% end %>
            <% end %>
          ᠠ᠋ᠴᠠ ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
          </span>
          <% if usershopunejah.dune.present? %>
            <span class="mailfrom">
              <%= usershopunejah.dune.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>

        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>

  <% if @usershops.any? %>
    <% shop=0 %>
    <% @usershops.each do |usershop| %>
      <% if usershop.usershopunes.any? and usershop.name1.present?%>

          <% if usershop.usershopunes.any?%>
            <% no1=0 %>
              <% usershop.usershopimgs.each do |usershopimg| %>
                <% if usershopimg.picture.present? and no1==0 %>
                  <% no1=no1+1 %>
                    <%= link_to image_tag(usershopimg.picture.url,:id=>usershopimg.id,:oncontextmenu=>"return false", :class => "bigimg"),user_usershop_path(usershop.user_id,usershop) %>
                <% end %>
              <% end %>
          <% end %>

      <% end %>
    <% end %>
  <% end %>
  </div>
  </div>
<% end %>
<br>

<% if @userjobs.any? and session[:user_id] %>
  <hr>
  <% jobname=[] %>
  <% jobhas=0 %>

  <div class="hidden_box">
  <label for="ajil">ᠠᠵᠢᠯ</label>
  <input type="checkbox" id="ajil" checked="checked"/>
  <div class="hidden_show">


    <% if session[:user_id]==1 then %>
      <ul>
        <% @alluserjobs.each do |userjob| %>
            <li>
              <%= link_to userjob.name,user_userjob_path(userjob.user_id,userjob.id),class:'command'  %>
            </li>
        <% end %>
      </ul>
    <% else %>
        <ul>
          <% @userjobs.each do |userjob| %>
              <% if @mymlqdbs.any? %>
                <% @mymlqdbs.each do |mlqdb| %>
                  <% if mlqdb.a9<Time.now and mlqdb.f9>Time.now %>
                    <% if userjob.a1.strip==mlqdb.a1.strip and userjob.f1.strip==mlqdb.f1.strip and userjob.a2.strip==mlqdb.a2.strip %>
                      <li>
                      <%= link_to userjob.name,user_userjob_path(userjob.user_id,userjob.id),class:'command'  %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        </ul>
    <% end %>


    <% if @userjobpjhunjahs.any? %>
      <% ajlhra=0 %>
      <% @userjobpjhunjahs.each do |userjobpjhunjah| %>
        <% if userjobpjhunjah.user_id == session[:user_id] and userjobpjhunjah.jahdt.present? and !userjobpjhunjah.get1dt.present? then %>
          <% if ajlhra==0 then %>
            <h2>
              <span class="Ankhaaruulga">&ensp;ᠬᠠᠷᠢᠭᠤᠯᠬᠤ</span>
            </h2>
            <% ajlhra=ajlhra+1 %>
            <ul>
          <% end %>
          <li>
          <%= userjobpjhunjah.jobname %>\
          <%= link_to userjobpjhunjah.name,user_userjob_path(userjobpjhunjah.user_id,userjobpjhunjah.userjob_id),class:'command' %>\
          <%= userjobpjhunjah.hname %>\
          <span class="mailfrom">
            <% if userjobpjhunjah.uname.present? %>
              &nbsp;<span class="text"><%= userjobpjhunjah.uname %></span>
            <% else %>
              <% if userjobpjhunjah.userid.present? %>
                &nbsp;<span class="text"><%= userjobpjhunjah.userid %></span>
              <% end %>
            <% end %>
            ᠠ᠋ᠴᠠ ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
          </span>
          <% if userjobpjhunjah.jahdt.present? %>
            <span class="mailfrom">
              <%= userjobpjhunjah.jahdt.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>

          <% if userjobpjhunjah.get1dt.present? %>
            ᠲᠣᠭᠲᠠᠪᠠ᠃
            <span class="mailfrom">
              <%= userjobpjhunjah.get1dt.strftime('%Y.%m.%d %H:%M') %>
            </span>\
          <% end %>
          <% if userjobpjhunjah.june.present? and userjobpjhunjah.junit.present? %>
            ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhunjah.june %><%= userjobpjhunjah.junit %> ᠵᠣᠭᠤᠰ\
          <% end %>
          <% if userjobpjhunjah.jstartdate.present? and userjobpjhunjah.jenddate.present? %>
            <span class="mailfrom">
            <%= userjobpjhunjah.jstartdate.strftime('%Y.%m.%d') %>ー
            <%= userjobpjhunjah.jenddate.strftime('%Y.%m.%d') %>\
            </span>
          <% end %>
        </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% if @userjobpjhunjahs.any? %>
      <% ajljah=0 %>
      <% @userjobpjhunjahs.each do |userjobpjhunjah| %>
        <% if userjobpjhunjah.userid == session[:user_id] and userjobpjhunjah.jahdt.present? then %>
          <% if ajljah==0 then %>
            <h2>
              <span class="Ankhaaruulga">&ensp;ᠮᠢᠨᠦ ᠵᠠᠬᠢᠶᠠᠯᠠᠯᠭ᠎᠎ᠠ</span>
            </h2>
            <% ajljah=ajljah+1 %>
            <ul>
          <% end %>
          <li>
          <% if userjobpjhunjah.jstartdate.present? and userjobpjhunjah.jenddate.present? %>
            <%= userjobpjhunjah.jstartdate.strftime('%Y.%m.%d') %>ー
            <%= userjobpjhunjah.jenddate.strftime('%Y.%m.%d') %>\
          <% end %>
          <%= userjobpjhunjah.jobname %>\
          <%= userjobpjhunjah.name %>\
          <%= link_to userjobpjhunjah.hname,user_userjob_path(userjobpjhunjah.user_id,userjobpjhunjah.userjob_id),class:'command' %>

          <% if userjobpjhunjah.june.present? and userjobpjhunjah.junit.present? %>
            \ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhunjah.june %><%= userjobpjhunjah.junit %> ᠵᠣᠭᠤᠰ᠃
          <% end %>
          <% if userjobpjhunjah.jahdt.present? %>
            \
            <span class="mailfrom">
              ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
              <%= userjobpjhunjah.jahdt.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>
          <% if userjobpjhunjah.get1dt.present? %>
            \
            <span class="mailfrom">
              ᠲᠣᠭᠲᠠᠪᠠ᠃
              <%= userjobpjhunjah.get1dt.strftime('%Y.%m.%d %H:%M') %>
            </span>
          <% end %>


        </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>

    <% if @userjobs.any? %>
      <% job=0 %>
      <% @userjobs.each do |userjob| %>

        <% jobshow=0 %>
        <% if session[:user_id] %>
          <% if @mymlqdbs.any? %>
            <% @mymlqdbs.each do |mlqdb| %>
              <% if mlqdb.a9<Time.now and mlqdb.f9>Time.now %>
                <% if userjob.a1.strip==mlqdb.a1.strip and userjob.f1.strip==mlqdb.f1.strip and userjob.a2.strip==mlqdb.a2.strip %>
                  <% jobshow=1 %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if userjob.name.present? %>
          <% if jobshow==1 or session[:user_id]==1  %>
            <% job=job+1 %>
            <% if userjob.picture? %>
              <%= link_to image_tag(userjob.picture.url,:id=>userjob.id,:oncontextmenu=>"return false", :class => "bigimg"),user_userjob_path(userjob.user_id,userjob) %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  </div>
  </div>

<% end %>

  <hr>
<% juud='ᠦᠭᠡᠰ' %>
<% jdlah='ᠦᠭᠡᠰ ᠤ᠋ᠨ ᠲᠠᠢᠯᠪᠤᠷᠢ' %>
<% if @userjuudjdls.any? %>
  <div class="hidden_box">
  <label for="uges"><%= juud %></label>
  <input type="checkbox" id="uges" checked="checked"/>
  <div class="hidden_show">
  <ul>
  <% myname = "" %>
  <% @userjuudjdls.each do |userjuudjdl| %>
    <% if userjuudjdl.jrotate==juud %>
      <li>
        <%= link_to userjuudjdl.jname,user_userjuudjdl_path(userjuudjdl.user_id,userjuudjdl.id),class:'command' %>
        <% if userjuudjdl.june.present? and userjuudjdl.junit.present? %>
          <span class="mailfrom" style="background-color:#FFE4E1;">
            <%= userjuudjdl.june %><%= userjuudjdl.junit %>&ensp;ᠵᠣᠭᠤᠰ᠃
          </span>
        <% end %>
        <span class="mailfrom">
          <%= userjuudjdl.updated_at.strftime('%Y.%m.%d') %>
        </span>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
</div>
<% end %>


  <% juud='ᠪᠤᠬᠢᠨᠢᠲᠤᠯ' %>
  <% jdlah='ᠬᠠᠤᠯᠢ ᠵᠠᠳᠠᠯᠠᠬᠤ' %>
  <% if @userjuudjdls.any? %>
    <div class="hidden_box">
    <label for="huul">ᠬᠠᠤᠯᠢ</label>
    <input type="checkbox" id="huul" checked="checked"/>
    <div class="hidden_show">
    <ul>
    <% myname = "" %>
    <% @userjuudjdls.each do |userjuudjdl| %>
      <% if userjuudjdl.jrotate==juud %>
        <li>
          <%= link_to userjuudjdl.jname,user_userjuudjdl_path(userjuudjdl.user_id,userjuudjdl.id),class:'command' %>
          <% if userjuudjdl.june.present? and userjuudjdl.junit.present? %>
            <span class="mailfrom" style="background-color:#FFE4E1;">
              <%= userjuudjdl.june %><%= userjuudjdl.junit %>&ensp;ᠵᠣᠭᠤᠰ᠃
            </span>
          <% end %>
          <span class="mailfrom">
            <%= userjuudjdl.updated_at.strftime('%Y.%m.%d') %>
          </span>
        </li>
      <% end %>
    <% end %>
    </ul>
    </div>
    </div>
  <% end %>


    <% juud='ᠡᠷᠡᠭᠦᠯ' %>
    <% jdlah='ᠡᠪᠡᠳᠴᠢᠨ ᠵᠠᠳᠠᠯᠠᠬᠤ' %>
    <% if @userjuudjdls.any? %>
      <div class="hidden_box">
      <label for="eruul">ᠡᠷᠡᠭᠦᠯ</label>
      <input type="checkbox" id="eruul" checked="checked"/>
      <div class="hidden_show">
      <ul>
      <% myname = "" %>
      <% @userjuudjdls.each do |userjuudjdl| %>
        <% if userjuudjdl.jrotate==juud %>
          <li>
            <%= link_to userjuudjdl.jname,user_userjuudjdl_path(userjuudjdl.user_id,userjuudjdl.id),class:'command' %>
            <% if userjuudjdl.june.present? and userjuudjdl.junit.present? %>
              <span class="mailfrom" style="background-color:#FFE4E1;">
                <%= userjuudjdl.june %><%= userjuudjdl.junit %>&ensp;ᠵᠣᠭᠤᠰ᠃
              </span>
            <% end %>
            <span class="mailfrom">
              <%= userjuudjdl.updated_at.strftime('%Y.%m.%d') %>
            </span>
          </li>
        <% end %>
      <% end %>
      </ul>
      </div>
      </div>
    <% end %>



      <% juud='ᠵᠡᠭᠦᠳᠤ' %>
      <% jdlah='ᠵᠡᠭᠦᠳᠤ ᠵᠠᠳᠠᠯᠠᠬᠤ' %>
      <% if @userjuudjdls.any? %>
        <div class="hidden_box">
        <label for="juud"><%= juud %></label>
        <input type="checkbox" id="juud" checked="checked"/>
        <div class="hidden_show">
        <ul>
        <% myname = "" %>
        <% @userjuudjdls.each do |userjuudjdl| %>
          <% if userjuudjdl.jrotate==juud %>
            <li>
              <%= link_to userjuudjdl.jname,user_userjuudjdl_path(userjuudjdl.user_id,userjuudjdl.id),class:'command' %>
              <% if userjuudjdl.june.present? and userjuudjdl.junit.present? %>
                <span class="mailfrom" style="background-color:#FFE4E1;">
                  <%= userjuudjdl.june %><%= userjuudjdl.junit %>&ensp;ᠵᠣᠭᠤᠰ᠃
                </span>
              <% end %>
              <span class="mailfrom">
                <%= userjuudjdl.updated_at.strftime('%Y.%m.%d') %>
              </span>
            </li>
          <% end %>
        <% end %>
        </ul>
        </div>
        </div>
      <% end %>

<% if session[:user_id] %>
<% end %>
