
<%= form_for @mail do |f| %>

  <table height=100%>
    <tr>
      <td height=10%>
        <%= f.label :a1, '＠ᠬᠠᠶᠠᠭ' %><br><br>
        <%= f.email_field :a1,placeholder: 'sample@sample.com', :style=>"ime-mode: disabled" %>
        <% if @mail.errors.messages[:a1].any? %>
        <span class="error"><%=@mail.errors.messages[:a1][0] %></span>
        <% end %>
      </td>
      <td>
        ᠭᠠᠷᠴᠠᠭ
         <p>
           <%=f.text_area :f1,placeholder: 'ᠭᠠᠷᠴᠠᠭ', :size=>"100x3", :class=>"gaarea" %>
           <% if @mail.errors.messages[:f1].any? %>
           <span class="error"><%=@mail.errors.messages[:f1][0] %></span>
           <% end %>
         </p>

         ᠡᠬᠢᠯᠡᠯᠲᠡ
         <p>
           <%=f.text_area :f2,placeholder: 'ᠬᠦᠨᠳᠦᠲᠦ ᠬᠠᠢᠷᠠᠲᠤ             ᠪᠠᠭᠰᠢ ᠳᠠᠭᠠᠨ', :size=>"100x3", :class=>"gaarea" %>
           <% if @mail.errors.messages[:f2].any? %>
             <span class="error"><%=@mail.errors.messages[:f2][0] %></span>
           <% end %>
         </p>

          ᠮᠡᠨᠳᠦ
          <p>
            <%=f.text_area :a2,placeholder: 'ᠰᠠᠢᠨ ᠪᠠᠢᠨᠤᠤ', :size=>"100x4", :class=>"gaarea" %>
            <% if @mail.errors.messages[:a2].any? %>
              <span class="error"><%=@mail.errors.messages[:a2][0] %></span>
            <% end %>
          </p>
      </td>
    </tr>
  </table>

  <%= f.hidden_field :f3, :value => session[:user_id] %>

  <p>
    <%=f.submit " ᠬᠠᠳᠠᠭᠠᠯᠠᠬᠤ ", :class=>"btn" %>
  </p>

<% end %>
