
<% joba1="" %>
<% jobf1="" %>
<% joba2="" %>
<% jah=0 %>
<% if @jobmlqdbs.any? %>
  <% @jobmlqdbs.each do |jobmlqdb| %>

    <% if jobmlqdb.a9<Time.now and jobmlqdb.f9>Time.now %>
      <% joba1=jobmlqdb.a1.strip %>
      <% jobf1=jobmlqdb.f1.strip %>
      <% joba2=jobmlqdb.a2.strip %>

      <% if session[:user_id] %>
        <% if @mymlqdbs.any? %>
          <% @mymlqdbs.each do |mymlqdb| %>
            <% if mymlqdb.a9<Time.now and mymlqdb.f9>Time.now %>

              <% if mymlqdb.a1.strip==jobmlqdb.a1.strip and mymlqdb.f1.strip==jobmlqdb.f1.strip and mymlqdb.a2.strip==jobmlqdb.a2.strip %>
                <% jah=1 %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<h2>
  <%= link_to 'ᠠᠵᠢᠯ',user_userjobs_path(@user),class:'header-menu' %>&ensp;
</h2>

<% if @userjob.name.present? %>
  <br>
  <table height="100%">
    <tr>
      <% if @userjob.picture? %>
      <td>
          <span class="img">
            <%= image_tag @userjob.picture.url,:oncontextmenu=>"return false", :class => "img" %>
          </span>
          <br>
      </td>
      <% end %>
      <td>
          <%= @userjob.f9.strftime('%Y.%m.%d') %>ー
          <%= @userjob.ff9.strftime('%Y.%m.%d') %><br>
          <%= link_to @userjob.name,user_userjob_path(@user,@userjob),class:'command' %>
          <br> <%= @userjob.from %><br>
          <% if @user.id == session[:user_id] or session[:user_id]==1 then %>
            ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠷᠠᠭ:<br><%= @userjob.f4 %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃<br>
          <% end %>
          <% if @userjob.job.present? %>
            <br><%= @userjob.job %>
          <% end %>
          <br><%= @userjob.user_id %>ᠳ᠋ᠤᠭᠠᠷ
          <%= link_to ' ᠳᠡᠯᠭᠡᠭᠦᠷ',user_path(@userjob.user_id),class:'command' %>
          <span class="mailfrom">
            <%= @userjob.updated_at.strftime('%Y.%m.%d') %>&ensp;
          </span>
          <% if @user.id == session[:user_id] or session[:user_id]==1 then %>
              <%= link_to ' ᠵᠠᠰᠠᠬᠤ',edit_user_userjob_path(@user,@userjob),class:'command' %>&ensp;
          <% end %>
          <br>
      </td>
    </tr>
 </table>
<% end %>

<h2><%= @userjob.name %></h2>
<% if @user.id == session[:user_id] or session[:user_id]==1 then %>

  <% mystartdate = Time.now %>
  <% myenddate = Time.now %>

  <% sum = 0 %>
  <% allsum = 0 %>
  <% allasg = 0 %>
  <% allunit = @userjob.unit %>
  <% if @userjob.userjobpjs.any? %>
      <ul>
      <% @userjob.userjobpjs.each do |userjobpj| %>
        <% if userjobpj.name.present? %>
            <hr>
            <li>
            <%= userjobpj.startdate.strftime('%Y.%m.%d') %>ー
            <%= userjobpj.enddate.strftime('%Y.%m.%d') %>

            <% mystartdate = userjobpj.startdate %>
            <% myenddate = userjobpj.enddate %>

            <% myyear = userjobpj.enddate.year-userjobpj.startdate.year %>
            <% mymonth = userjobpj.enddate.month-userjobpj.startdate.month %>
            <% myday = userjobpj.enddate.day-userjobpj.startdate.day %>
            <% myday = myday + ((myyear*12)+mymonth)*30  %>
            <% myday = myday-(myday/7)*2 %>
            <% tmonth = myday/21 %>
            <% if myday >= 28 %>
              (ᠪᠠᠷᠤᠭ<%= tmonth.round(1) %>ᠰᠠᠷ᠎ᠠ)
            <% else %>
              (<%= myday.round(1) %>ᠡᠳᠤᠷ)
            <% end %>
            <h2><%= userjobpj.name %></h2>
            <% if userjobpj.from.present? %>
              <%= userjobpj.from %>
            <% end %>

            <% if @user.id == session[:user_id] or session[:user_id]==1 then %>
                <% if userjobpj.une.present? %>
                  <br>ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠷᠠᠭ:<%= userjobpj.une %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃
                  <% sum = sum + userjobpj.une %>
                <% end %>
                <span class="mailfrom">
                  <%= userjobpj.updated_at.strftime('%Y.%m.%d') %>&ensp;
                </span>
                <%= link_to ' ᠵᠠᠰᠠᠬᠤ',edit_user_userjob_userjobpj_path(@user,@userjob,userjobpj),class:'command' %>&ensp;
                <% if userjobpj.userjobpjhuns.any? %>
                <% else %>
                    <%= link_to ' ᠬᠠᠰᠤᠬᠤ',
                    user_userjob_userjobpj_path(@user,@userjob,userjobpj),
                    method: :delete,
                    class: 'command',
                    data: { confirm: 'are you sure you want to delete?'}%>
                <% end %>
            <% end %>


            <div class="hidden_box">
                <label for="aa<%=userjobpj.id%>">ᠰᠦᠢᠳᠭᠡᠯ:</label>
                <input type="checkbox" id="aa<%=userjobpj.id%>" checked="checked"/>
                <div class="hidden_show">
                  <% mysum = 0 %>
                  <% myasg = 0 %>
                  <% myunit = @userjob.unit %>
                <% if userjobpj.userjobpjhuns.any? %>
                    <ul>
                    <% userjobpj.userjobpjhuns.each do |userjobpjhun| %>
                      <% if userjobpjhun.hname.present? %>
                          <li>
                          <%= userjobpjhun.hstartdate.strftime('%Y.%m.%d') %>ー
                          <%= userjobpjhun.henddate.strftime('%Y.%m.%d') %>
                          <% myyear = userjobpjhun.henddate.year-userjobpjhun.hstartdate.year %>
                          <% mymonth = userjobpjhun.henddate.month-userjobpjhun.hstartdate.month %>
                          <% myday = userjobpjhun.henddate.day-userjobpjhun.hstartdate.day %>
                          <% myday = myday + ((myyear*12)+mymonth)*30  %>
                          <% myday = myday-(myday/7)*2 %>
                          <% tmonth = myday/21 %>
                          <% if myday >= 28 %>
                            (ᠪᠠᠷᠤᠭ<%= tmonth.round(1) %>ᠰᠠᠷ᠎ᠠ)
                          <% else %>
                            (<%= myday.round(1) %>ᠡᠳᠤᠷ)
                          <% end %>
                          <br>
                          <%= userjobpjhun.hname %>
                          <% if userjobpjhun.hfrom.present? %>
                            \<%= userjobpjhun.hfrom %>
                          <% end %>
                          <span class="mailfrom">
                            <%= userjobpjhun.updated_at.strftime('%Y.%m.%d') %>&ensp;
                          </span>
                          <% if @user.id == session[:user_id] or session[:user_id]==1 then %>
                              <%= link_to ' ᠵᠠᠰᠠᠬᠤ',edit_user_userjob_userjobpj_userjobpjhun_path(@user,@userjob,userjobpj,userjobpjhun),class:'command' %>&ensp;
                              <%= link_to ' ᠬᠠᠰᠤᠬᠤ',
                              user_userjob_userjobpj_userjobpjhun_path(@user,@userjob,userjobpj,userjobpjhun),
                              method: :delete,
                              class: 'command',
                              data: { confirm: 'are you sure you want to delete?'}%>
                          <% end %>

                          <% if userjobpjhun.hcount.present? %>
                            <% if userjobpjhun.hcount>0 %>
                              <table height="100%" bgcolor="#FFFACD">
                                <tr>
                                  <td>
                                    <%= userjobpjhun.hcount %> ᠬᠥᠮᠦᠨ
                                    \ᠬᠥᠮᠦᠨ ᠪᠦᠷᠢ ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhun.hune %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠃
                                    <% if myday >= 28 %>
                                      <% hhune = userjobpjhun.hcount * userjobpjhun.hune * tmonth.round(1) %>
                                    <% else %>
                                      <% hhune = userjobpjhun.hcount * userjobpjhun.hune %>
                                    <% end %>
                                    \ᠨᠡᠢᠲᠡ <%= hhune.round(0) %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠨ᠎ᠠ᠃
                                    <% mysum = mysum + hhune.round(0) %>

                                    <table height="100%" bgcolor="#F5DEB3">
                                      <tr>
                                        <td>
                                        <% hun=0 %>
                                        <% jah=0 %>
                                        <% md=0 %>
                                        <% get1=0 %>
                                        <% if userjobpjhun.userjobpjhunjahs.any? %>
                                          <ul>
                                          <% userjobpjhun.userjobpjhunjahs.each do |userjobpjhunjah| %>
                                            <li>
                                              ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
                                              <% if userjobpjhunjah.uname.present? %>
                                                &nbsp;<%= link_to userjobpjhunjah.uname,user_path(userjobpjhunjah.userid),class:'command' %>
                                              <% else %>
                                                <% if userjobpjhunjah.userid.present? %>
                                                  &nbsp;<%= link_to userjobpjhunjah.userid,user_path(userjobpjhunjah.userid),class:'command' %>
                                                <% end %>
                                              <% end %>
                                               ᠠ᠋ᠴᠠ
                                              <span class="mailfrom">
                                                <%= userjobpjhunjah.jahdt.strftime('%Y.%m.%d') %>
                                              </span>
                                              <% if !userjobpjhunjah.mddt.present? and !userjobpjhunjah.get1dt.present? %>
                                                  <%= link_to ' ᠬᠠᠰᠤᠬᠤ',
                                                  user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah),
                                                  method: :delete,
                                                  class: 'command',
                                                  data: { confirm: 'are you sure you want to delete?'}%>
                                              <% end %>
                                              <br>

                                              <% if userjobpjhunjah.get1dt.present? %>
                                                  ᠲᠣᠭᠲᠠᠪᠠ᠃
                                                  <span class="mailfrom">
                                                    <%= userjobpjhunjah.get1dt.strftime('%Y.%m.%d') %>
                                                  </span>
                                                  <%= link_to ' ᠵᠠᠰᠠᠬᠤ',edit_user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah),class:'command' %>
                                                  <% if !userjobpjhunjah.get1dt.present? %>
                                                      <%= link_to ' ᠬᠠᠰᠤᠬᠤ',
                                                      user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah),
                                                      method: :delete,
                                                      class: 'command',
                                                      data: { confirm: 'are you sure you want to delete?'}%>
                                                  <% end %>
                                                  <br>

                                                  <% get1=get1 + 1 %>

                                                  <% if userjobpjhun.hstartdate != userjobpjhunjah.jstartdate or userjobpjhun.henddate != userjobpjhunjah.jenddate %>
                                                    <%= userjobpjhunjah.jstartdate.strftime('%Y.%m.%d') %>ー
                                                    <%= userjobpjhunjah.jenddate.strftime('%Y.%m.%d') %>
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhun.hname != userjobpjhunjah.jname %>
                                                    userjobpjhunjah.jname
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhun.hfrom != userjobpjhunjah.jfrom %>
                                                    userjobpjhunjah.jfrom
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhun.hune != userjobpjhunjah.june %>
                                                    ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhunjah.june %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhunjah.jenddate.present? and userjobpjhunjah.jstartdate.present? %>
                                                    <% if userjobpjhunjah.jenddate.strftime('%Y%m%d').to_i<Time.now.strftime('%Y%m%d').to_i %>
                                                      ᠳᠠᠭᠤᠰᠤᠪᠠ᠃<br>
                                                    <% else %>
                                                        <% if userjobpjhunjah.jstartdate.strftime('%Y%m%d').to_i<Time.now.strftime('%Y%m%d').to_i %>
                                                          ᠠᠵᠢᠯᠯᠠᠵᠤ ᠪᠠᠢᠨ᠎ᠠ᠃<br>
                                                        <% end %>
                                                    <% end %>
                                                  <% end %>

                                                  <% if userjobpjhunjah.get1dt.present? and userjobpjhunjah.userid==session[:user_id] %>

                                                    <% strname= "ᠠᠵᠢᠯ:" + userjobpjhun.hname + " ᠵᠠᠬᠢᠶᠠᠯᠠᠬᠤ " %>
                                                    <% job="job" %>
                                                    <%= form_for([@myuser, @myuser.userpays.build]) do |fff| %>
                                                          <%= fff.hidden_field :name, :value =>strname %>
                                                          <%= fff.hidden_field :f5, :value =>userjobpjhunjah.june %>
                                                          <%= fff.hidden_field :unit, :value =>@userjob.unit %>
                                                          <%= fff.hidden_field :userid, :value =>@user.id %>
                                                          <%= fff.hidden_field :uname, :value =>@user.nickname %>
                                                          <%= fff.hidden_field :f6, :value => Time.now %>
                                                          <%= fff.hidden_field :f7, :value => Time.now %>
                                                          <%= fff.hidden_field :f10, :value => job %>
                                                          <%= fff.hidden_field :typeid, :value => userjobpjhunjah.id %>
                                                          <p>
                                                            <%= fff.submit 'ᠴᠠᠯᠢᠩ', :class=>"btn" %>
                                                          </p>
                                                    <% end %>

                                                  <% end %>

                                              <% else %>

                                                  <% if userjobpjhunjah.mddt.present? %>
                                                      ᠮᠡᠳᠡᠯ᠎ᠡ᠃
                                                      <span class="mailfrom">
                                                        <%= userjobpjhunjah.mddt.strftime('%Y.%m.%d') %>
                                                      </span>
                                                      <br>
                                                      <% md=md + 1 %>
                                                      <%= form_for userjobpjhunjah, url: user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah) do |f| %>
                                                          <%= f.hidden_field :jname, :value => userjobpjhun.hname %>
                                                          <%= f.hidden_field :jfrom, :value => userjobpjhun.hfrom %>
                                                          <%= f.hidden_field :june, :value => userjobpjhun.hune %>
                                                          <%= f.hidden_field :junit, :value => userjobpjhun.hunit %>
                                                          <%= f.hidden_field :jstartdate, :value => userjobpjhun.hstartdate %>
                                                          <%= f.hidden_field :jenddate, :value => userjobpjhun.henddate %>
                                                          <%= f.hidden_field :get1dt, :value => Time.now %>
                                                          <%= f.submit "ᠲᠣᠭᠲᠠᠪᠠ", :class=>"btn" %>
                                                      <% end %>

                                                  <% else %>
                                                      <% hun=hun + 1 %>
                                                      <%= form_for userjobpjhunjah, url: user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah) do |f| %>
                                                          <%= f.hidden_field :mddt, :value => Time.now %>
                                                          <%= f.submit "ᠮᠡᠳᠡᠯ᠎ᠡ", :class=>"btn" %>
                                                      <% end %>
                                                  <% end %>



                                              <% end %>

                                              <% if userjobpjhunjah.mddt.present? or userjobpjhunjah.get1dt.present? %>

                                                  <% if userjobpjhunjah.jenddate.present? and userjobpjhunjah.jstartdate.present? %>
                                                    <% if userjobpjhunjah.jstartdate.strftime('%Y%m%d').to_i>Time.now.strftime('%Y%m%d').to_i %>

                                                      <%= form_for userjobpjhunjah, url: user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah) do |f| %>
                                                          <%= f.hidden_field :jname, :value => nil %>
                                                          <%= f.hidden_field :jfrom, :value => nil %>
                                                          <%= f.hidden_field :june, :value => nil %>
                                                          <%= f.hidden_field :junit, :value => nil %>
                                                          <%= f.hidden_field :jstartdate, :value => nil %>
                                                          <%= f.hidden_field :jenddate, :value => nil %>
                                                          <%= f.hidden_field :mddt, :value => nil %>
                                                          <%= f.hidden_field :get1dt, :value => nil %>
                                                          <%= f.submit "ᠪᠤᠴᠠᠭᠠᠬᠤ", :class=>"btn" %>
                                                      <% end %>

                                                    <% end %>
                                                  <% else %>
                                                      <%= form_for userjobpjhunjah, url: user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah) do |f| %>
                                                          <%= f.hidden_field :jname, :value => nil %>
                                                          <%= f.hidden_field :jfrom, :value => nil %>
                                                          <%= f.hidden_field :june, :value => nil %>
                                                          <%= f.hidden_field :junit, :value => nil %>
                                                          <%= f.hidden_field :jstartdate, :value => nil %>
                                                          <%= f.hidden_field :jenddate, :value => nil %>
                                                          <%= f.hidden_field :mddt, :value => nil %>
                                                          <%= f.hidden_field :get1dt, :value => nil %>
                                                          <%= f.submit "ᠪᠤᠴᠠᠭᠠᠬᠤ", :class=>"btn" %>
                                                      <% end %>
                                                  <% end %>

                                              <% end %>

                                            </li>
                                          <% end %>
                                          </ul>
                                        <% end %>
                                        <% if hun>0 %>
                                          ᠨᠡᠢᠲᠡ<%= hun %> ᠬᠥᠮᠦᠨ ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃ <br>
                                        <% end %>
                                        <% if md>0 %>
                                          ᠨᠡᠢᠲᠡ<%= md %> ᠬᠥᠮᠦᠨ ᠶᠠᠷᠢᠯᠴᠠᠵᠤ ᠪᠠᠢᠨ᠎ᠠ᠃ <br>
                                        <% end %>
                                        <% if get1>0 %>
                                          ᠨᠡᠢᠲᠡ<%= get1 %> ᠬᠥᠮᠦᠨ ᠲᠣᠭᠲᠠᠪᠠ᠃ <br>
                                        <% end %>
                                        </td>
                                      </tr>
                                    </table>

                                  </td>
                                </tr>
                              </table>

                            <% else %>
                                <br>ᠰᠠᠷ᠎ᠠ ᠪᠦᠷᠢ <%= userjobpjhun.hune %><%= userjobpjhun.hunit %> ᠵᠣᠭᠤᠰ
                                <% hhune = userjobpjhun.hune * tmonth.round(1) %>
                                <br>ᠨᠡᠢᠲᠡ <%= hhune.round(0) %><%= userjobpjhun.hunit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠨ᠎ᠠ᠃
                                <% mysum = mysum + hhune.round(0) %>
                            <% end %>
                          <% else %>
                            <table height="100%">
                              <tr>
                                <td>
                                    ᠨᠡᠢᠲᠡ <%= userjobpjhun.hune %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠃
                                    <% mysum = mysum + userjobpjhun.hune %>
                                </td>
                              </tr>
                            </table>
                          <% end %>
                          </li>
                        <% end %>
                    <% end %>
                    <li>
                      <span style="background-color:pink;">ᠨᠡᠢᠲᠡ: </span>
                      <%= mysum.round(0) %><%= myunit %> ᠵᠣᠭᠤᠰ \
                      <% myasg = userjobpj.une - mysum %>
                      <% allsum = allsum + mysum %>
                      <% allasg = allasg + myasg %>
                      <% if myasg.round(0)>0 then %>
                        ᠠᠰᠢᠭ: <%= myasg.round(0) %><%= myunit %> ᠵᠣᠭᠤᠰ᠃
                        <%= link_to 'ᠲᠤᠰ ᠰᠠᠢᠳ',user_path(1),class:'command' %> ᠵᠠᠭᠤᠨ ᠤ᠋ ᠠᠷᠪᠠᠨ ᠨᠠᠢ᠍ᠮᠠ ᠢ᠋ᠢᠨ ᠠᠰᠢᠭ ᠬᠦᠷᠲᠡᠨ᠎ᠠ᠃
                        <% bune=myasg*0.18 %>
                        <%= bune.round(0) %><%= myunit %> ᠵᠣᠭᠤᠰ᠃
                      <% else %>
                        <span class="Ankhaaruulga">
                          ᠠᠰᠢᠭ: <%= myasg.round(0) %><%= myunit %> ᠵᠣᠭᠤᠰ᠃
                          ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠤᠶᠤ ᠰᠦᠢᠳᠭᠡᠯ ᠢ᠋ᠢᠡᠨ ᠵᠠᠰᠠᠭᠠᠷᠠᠢ᠃
                        </span>
                      <% end %>
                    </li>
                    </ul>
                <% end %>

                <% if @user.id == session[:user_id] then %>
                  <div class="hidden_box">
                    <label for="cc<%=userjobpj.id%>">
                      <span style="color:#ff0000;font-weight:bold;">
                        &ensp;&ensp;ᠰᠠᠷ᠎ᠠ ᠢ᠋ᠢᠨ ᠰᠦᠢᠳᠭᠡᠯ ᠨᠡᠮᠡᠬᠦ
                      </span>
                    </label>
                    <input type="checkbox" id="cc<%=userjobpj.id%>"/>
                    <div class="hidden_show">

                    <%= form_for([@user,@userjob,userjobpj, userjobpj.userjobpjhuns.build]) do |f| %>
                        <table>
                          <tr colspan="3">
                            <td colspan="3">
                              <p>
                                <%=f.text_area :hname,placeholder: '* ᠶᠠᠮᠠᠷ ᠰᠦᠢᠳᠭᠡᠯ', :class=>"gaarea" %>
                                <%=f.text_area :hfrom,placeholder: 'ᠨᠠᠷᠢᠨ ᠠᠭᠤᠯᠭ᠎ᠠ', :class=>"gaarea" %>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              ᠬᠤᠭᠤᠴᠠᠭ᠎ᠠ<br>
                              <%= f.date_select :hstartdate, :use_month_numbers => true,  datetime_separator:' ',:time_separator => ' ', :value => userjobpj.startdate %>
                              ~
                              <%= f.date_select :henddate, :use_month_numbers => true, datetime_separator:' ',:time_separator => ' ', :value => userjobpj.enddate %>
                            </td>
                            <td>
                               ᠰᠠᠷ᠎ᠠ ᠪᠦᠷᠢ<br>
                                <%=f.number_field :hune, step:0.001,placeholder: '1000' %><br><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠨ᠎ᠠ᠃
                            </td>

                          </tr>
                        </table>
                        <p>
                          <%= f.hidden_field :hcount, :value => 0 %>
                          <%= f.hidden_field :hunit, :value => @userjob.unit %>
                          <%= f.submit " ᠨᠡᠮᠡᠬᠦ", :class=>"btn" %>
                        </p>
                    <% end %>
                <% end %>
                </div>
              </div>

              <% if @user.id == session[:user_id] then %>
                <div class="hidden_box">
                    <label for="dd<%=userjobpj.id%>">
                      <span style="color:#ff0000;font-weight:bold;">
                        &ensp;&ensp;ᠪᠤᠰᠤᠳ ᠰᠦᠢᠳᠭᠡᠯ ᠨᠡᠮᠡᠬᠦ
                      </span>
                    </label>
                    <input type="checkbox" id="dd<%=userjobpj.id%>"/>
                    <div class="hidden_show">

                    <%= form_for([@user,@userjob,userjobpj, userjobpj.userjobpjhuns.build]) do |f| %>
                        <table>
                          <tr colspan="3">
                            <td colspan="3">
                              <p>
                                <%=f.text_area :hname,placeholder: '* ᠶᠠᠮᠠᠷ ᠰᠦᠢᠳᠭᠡᠯ', :class=>"gaarea" %>
                                <%=f.text_area :hfrom,placeholder: 'ᠨᠠᠷᠢᠨ ᠠᠭᠤᠯᠭ᠎ᠠ', :class=>"gaarea" %>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              ᠬᠤᠭᠤᠴᠠᠭ᠎ᠠ<br>
                              <%= f.date_select :hstartdate, :use_month_numbers => true,  datetime_separator:' ',:time_separator => ' ', :value => userjobpj.startdate %>
                              ~
                              <%= f.date_select :henddate, :use_month_numbers => true, datetime_separator:' ',:time_separator => ' ', :value => userjobpj.enddate %>
                            </td>
                            <td>
                               ᠨᠡᠢᠲᠡ<br>
                                <%=f.number_field :hune, step:0.001,placeholder: '1000' %><br><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠨ᠎ᠠ᠃
                            </td>
                          </tr>
                        </table>
                        <p>
                          <%= f.hidden_field :hunit, :value => @userjob.unit %>
                          <%= f.submit " ᠨᠡᠮᠡᠬᠦ", :class=>"btn" %>
                        </p>
                    <% end %>
                <% end %>
                  </div>
                </div>

                <% if @user.id == session[:user_id] then %>
                  <div class="hidden_box">
                    <label for="bb<%=userjobpj.id%>">
                      <span style="color:#ff0000;font-weight:bold;">
                        &ensp;&ensp;ᠬᠥᠮᠦᠨ ᠨᠡᠮᠡᠬᠦ
                      </span>
                    </label>
                    <input type="checkbox" id="bb<%=userjobpj.id%>"/>
                    <div class="hidden_show">

                    <%= form_for([@user,@userjob,userjobpj, userjobpj.userjobpjhuns.build]) do |f| %>
                        <table>
                          <tr colspan="3">
                            <td colspan="3">
                              <p>
                                <%=f.text_area :hname,placeholder: '* ᠶᠠᠮᠠᠷ ᠬᠥᠮᠦᠨ', :class=>"gaarea" %>
                                <%=f.text_area :hfrom,placeholder: 'ᠨᠠᠷᠢᠨ ᠠᠭᠤᠯᠭ᠎ᠠ', :class=>"gaarea" %>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              ᠬᠤᠭᠤᠴᠠᠭ᠎ᠠ<br>
                              <%= f.date_select :hstartdate, :use_month_numbers => true,  datetime_separator:' ',:time_separator => ' ', :value => userjobpj.startdate %>
                              ~
                              <%= f.date_select :henddate, :use_month_numbers => true, datetime_separator:' ',:time_separator => ' ', :value => userjobpj.enddate %>
                            </td>
                            <td>
                              ᠲᠣᠭ᠎ᠠ<br>
                                <%=f.number_field :hcount, placeholder: '1' %><br> ᠬᠥᠮᠦᠨ
                            </td>
                            <td>
                                 ᠬᠥᠮᠦᠨ ᠪᠦᠷᠢ ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ<br>&ensp;
                                <%=f.number_field :hune, step:0.001,placeholder: '1000' %><br>&ensp;<%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠨ᠎ᠠ᠃
                            </td>

                          </tr>
                        </table>
                        <p>
                          <%= f.hidden_field :hunit, :value => @userjob.unit %>
                          <%= f.submit "ᠨᠡᠮᠡᠬᠦ", :class=>"btn" %>
                        </p>
                    <% end %>
                <% end %>
                  </div>
                </div>

              </div>
            </div>

            </li>
          <% end %>
      <% end %>
      <li>
        <table height="100%" bgcolor="#DEB887">
            <tr>
              <td>
        <span style="background-color:pink;">ᠨᠡᠢᠲᠡ: </span>
          <%= @userjob.user_id %>ᠳ᠋ᠤᠭᠠᠷ
          <%= link_to ' ᠳᠡᠯᠭᠡᠭᠦᠷ',user_path(@userjob.user_id),class:'command' %><br>
          ᠲᠤᠰ ᠠᠵᠢᠯ ᠤ᠋ᠨ ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠷᠠᠭ:<%= @userjob.f4 %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃<br>
          ᠰᠦᠢᠳᠭᠡᠯ ᠤ᠋ᠨ ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠷᠠᠭ:<%= sum.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ᠃ <br>
          <% if sum.round(0)>@userjob.f4 then %>
            <span class="Ankhaaruulga">
              ᠪᠡᠯᠡᠳᠭᠡᠯ ᠠᠰᠢᠭ: <%= @userjob.f4.round(0)-sum.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ᠃ <br>
              ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠨ ᠵᠠᠰᠠᠭᠠᠷᠠᠢ᠃
            </span>
          <% end %>
              ᠰᠦᠢᠳᠭᠡᠯ ᠨᠡᠢᠲᠡ:<%= allsum.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ ᠣᠷᠤᠪᠠ᠃ <br>
              <% if allasg.round(0)<=0 then %>
                <span class="Ankhaaruulga">
                  ᠠᠰᠢᠭ ᠨᠡᠢᠲᠡ:<%= allasg.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ᠃ <br>
                  ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠤᠶᠤ ᠰᠦᠢᠳᠭᠡᠯ ᠢ᠋ᠢᠡᠨ ᠵᠠᠰᠠᠭᠠᠷᠠᠢ᠃
                </span>
              <% else %>
              ᠠᠰᠢᠭ ᠨᠡᠢᠲᠡ:<%= allasg.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ᠃ <br>
              <%= link_to 'ᠲᠤᠰ ᠰᠠᠢᠳ',user_path(1),class:'command' %> ᠵᠠᠭᠤᠨ ᠤ᠋ ᠠᠷᠪᠠᠨ ᠨᠠᠢ᠍ᠮᠠ ᠢ᠋ᠢᠨ ᠠᠰᠢᠭ ᠬᠦᠷᠲᠡᠨ᠎ᠠ᠃
              <% bune=allasg*0.18 %>
              ᠨᠡᠢᠲᠡ:<%= bune.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ᠃
              <br>
                <% payf4f5=0 %>
                <% payf5=0 %>
                <% payf6="" %>

                <% if @f10userpays.any? %>
                  <% @f10userpays.each do |userpay| %>

                    <% if userpay.user_id.present? %>
                        <% if userpay.user_id==@adminuser.id and userpay.unit.strip== allunit.strip %>
                            <% if userpay.f4.present? %>
                                <% payf4f5=payf4f5 + userpay.f4 %>
                            <% end %>
                            <% if userpay.f5.present? %>
                                <% payf4f5=payf4f5 - userpay.f5 %>
                                <% if userpay.typeid.present? %>
                                  <% if userpay.f10=="site" and userpay.typeid==@userjob.id %>
                                    <% payf5=payf5+userpay.f5 %>
                                    <% payf6=userpay.f6.strftime('%Y.%m.%d %H:%M') %>
                                  <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>

                  <% end %>
                <% end %>
                <% if payf5>=bune %>
                  <%= payf5.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ ᠬᠠᠰᠤᠪᠠ᠃
                  <span class="mailfrom">
                    <%= payf6 %>
                  </span>
                  <br>
                <% else %>
                  <% bune=bune-payf5 %>
                  <%= bune.round(0) %><%= allunit %> ᠵᠣᠭᠤᠰ 
                  <%= form_for([@adminuser, @adminuser.userpays.build]) do |fff| %>
                        <%= fff.hidden_field :name, :value =>'ᠠᠵᠢᠯ:' + @userjob.name + ':ᠲᠤᠰ ᠰᠠᠢᠳ ᠳ᠋ᠤ 18% ᠲᠤᠰᠢᠶᠠᠬᠤ' %>
                        <%= fff.hidden_field :f5, :value =>bune.round(0) %>
                        <%= fff.hidden_field :unit, :value =>allunit %>
                        <%= fff.hidden_field :userid, :value =>session[:user_id] %>
                        <%= fff.hidden_field :uname, :value =>session[:user_funame] %>
                        <%= fff.hidden_field :f6, :value => Time.now %>
                        <%= fff.hidden_field :f7, :value => Time.now %>
                        <%= fff.hidden_field :f10, :value => 'site' %>
                        <%= fff.hidden_field :typeid, :value => @userjob.id %>
                        <p>
                          <%= fff.submit 'ᠲᠤᠰᠢᠶᠠᠬᠤ', :class=>"btn" %>
                        </p>
                      <% end %>
                <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      </li>
      </ul>
  <% end %>

  <hr>
  <% if @user.id == session[:user_id] then %>
    <div class="hidden_box">
    <label for="unenew">
      <span style="color:#ff0000;font-weight:bold;">
        &ensp;ᠬᠤᠪᠢᠶᠠᠷᠢ ᠠᠵᠢᠯ ᠨᠡᠮᠡᠬᠦ
      </span>
    </label>
    <input type="checkbox" id="unenew"/>
    <div class="hidden_show">
      <%= form_for([@user,@userjob, @userjob.userjobpjs.build]) do |f| %>
          <table>
            <tr colspan="3">
              <td colspan="3">
                <p>
                  <%=f.text_area :name,placeholder: '* ᠶᠠᠮᠠᠷ ᠠᠵᠢᠯ', :class=>"gaarea" %>
                  <%=f.text_area :from,placeholder: 'ᠨᠠᠷᠢᠨ ᠠᠭᠤᠯᠭ᠎ᠠ', :class=>"gaarea" %>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                ᠬᠤᠭᠤᠴᠠᠭ᠎ᠠ<br>
                <%= f.date_select :startdate,:type=>"date",:use_month_numbers => true,  datetime_separator:' ',:time_separator => ' ', :value => @userjob.f9 %>
                 ~
                <%= f.date_select :enddate,:type=>"date", :use_month_numbers => true, datetime_separator:' ',:time_separator => ' ', :value => @userjob.ff9 %>
              </td>
              <td>
                  ᠪᠡᠯᠡᠳᠭᠡᠯ ᠮᠥᠩᠭᠦ ᠪᠠᠷᠠᠭ<br>
                  <%=f.number_field :une, step:0.001,placeholder: '1000' %><br><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃
              </td>
            </tr>
          </table>
          <p>
            <%= f.hidden_field :unit, :value => @userjob.unit %>
            <%= f.submit " ᠨᠡᠮᠡᠬᠦ", :class=>"btn" %>
          </p>
      <% end %>
    </div>
    </div>
  <% end %>

<% else %>

  <% mystartdate = Time.now %>
  <% myenddate = Time.now %>

  <% sum = 0 %>
  <% allsum = 0 %>
  <% allasg = 0 %>
  <% allunit = @userjob.unit %>
  <% if @userjob.userjobpjs.any? %>
      <ul>
      <% @userjob.userjobpjs.each do |userjobpj| %>
        <% if userjobpj.name.present? %>
            <hr>
            <li>
            <%= userjobpj.startdate.strftime('%Y.%m.%d') %>ー
            <%= userjobpj.enddate.strftime('%Y.%m.%d') %>

            <% mystartdate = userjobpj.startdate %>
            <% myenddate = userjobpj.enddate %>

            <% myyear = userjobpj.enddate.year-userjobpj.startdate.year %>
            <% mymonth = userjobpj.enddate.month-userjobpj.startdate.month %>
            <% myday = userjobpj.enddate.day-userjobpj.startdate.day %>
            <% myday = myday + ((myyear*12)+mymonth)*30  %>
            <% myday = myday-(myday/7)*2 %>
            <% tmonth = myday/21 %>
            <% if myday >= 28 %>
              (ᠪᠠᠷᠤᠭ<%= tmonth.round(1) %>ᠰᠠᠷ᠎ᠠ)
            <% else %>
              (<%= myday.round(1) %>ᠡᠳᠤᠷ)
            <% end %>
            <h2><%= userjobpj.name %></h2>
            <% if userjobpj.from.present? %>
              <%= userjobpj.from %>
            <% end %>

            <span class="mailfrom">
              <%= userjobpj.updated_at.strftime('%Y.%m.%d') %>&ensp;
            </span>

            <% mysum = 0 %>
            <% myasg = 0 %>
            <% myunit = @userjob.unit %>
            <% if userjobpj.userjobpjhuns.any? %>
                <ul>
                <% userjobpj.userjobpjhuns.each do |userjobpjhun| %>
                  <% if userjobpjhun.hcount.present? and userjobpjhun.hcount>0 %>
                      <li>
                      <%= userjobpjhun.hstartdate.strftime('%Y.%m.%d') %>ー
                      <%= userjobpjhun.henddate.strftime('%Y.%m.%d') %>
                      <% myyear = userjobpjhun.henddate.year-userjobpjhun.hstartdate.year %>
                      <% mymonth = userjobpjhun.henddate.month-userjobpjhun.hstartdate.month %>
                      <% myday = userjobpjhun.henddate.day-userjobpjhun.hstartdate.day %>
                      <% myday = myday + ((myyear*12)+mymonth)*30  %>
                      <% myday = myday-(myday/7)*2 %>
                      <% tmonth = myday/21 %>
                      <% if myday >= 28 %>
                        (ᠪᠠᠷᠤᠭ<%= tmonth.round(1) %>ᠰᠠᠷ᠎ᠠ)
                      <% else %>
                        (<%= myday.round(1) %>ᠡᠳᠤᠷ)
                      <% end %>
                      <br>
                      <%= userjobpjhun.hname %>
                      <% if userjobpjhun.hfrom.present? %>
                        \<%= userjobpjhun.hfrom %>
                      <% end %>
                      <% if userjobpjhun.hcount.present? %>
                        <% if userjobpjhun.hcount>0 %>
                            <table height="100%" bgcolor="#FFFACD">
                              <tr>
                                <td>
                                  <%= userjobpjhun.hcount %> ᠬᠥᠮᠦᠨ
                                  \ᠬᠥᠮᠦᠨ ᠪᠦᠷᠢ ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhun.hune %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠃
                                  <table height="100%" bgcolor="#F5DEB3">
                                    <tr>
                                      <td>
                                      ᠮᠢᠨᠤ ᠵᠠᠬᠢᠶᠠᠯᠠᠭ᠎ᠠ:
                                      <% hun=0 %>
                                      <% jah=0 %>
                                      <% md=0 %>
                                      <% get1=0 %>
                                      <% if userjobpjhun.userjobpjhunjahs.any? %>
                                          <% userjobpjhun.userjobpjhunjahs.each do |userjobpjhunjah| %>
                                            <% if userjobpjhunjah.userid==session[:user_id] %>
                                                <% jah=1 %>
                                                ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃
                                                <span class="mailfrom">
                                                  <%= userjobpjhunjah.jahdt.strftime('%Y.%m.%d') %>
                                                </span>
                                                <% if !userjobpjhunjah.get1dt.present? %>
                                                    <%= link_to ' ᠬᠠᠰᠤᠬᠤ',
                                                    user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,userjobpj,userjobpjhun,userjobpjhunjah),
                                                    method: :delete,
                                                    class: 'command',
                                                    data: { confirm: 'are you sure you want to delete?'}%>
                                                <% end %>
                                                <% if userjobpjhunjah.mddt.present? %>
                                                  ᠮᠡᠳᠡᠯ᠎ᠡ᠃
                                                  <span class="mailfrom">
                                                    <%= userjobpjhunjah.mddt.strftime('%Y.%m.%d') %>
                                                  </span>
                                                <% end %>
                                                <% if userjobpjhunjah.get1dt.present? %>
                                                  ᠲᠣᠭᠲᠠᠪᠠ᠃
                                                  <span class="mailfrom">
                                                    <%= userjobpjhunjah.get1dt.strftime('%Y.%m.%d') %>
                                                  </span>
                                                  <br>
                                                  <% if userjobpjhun.hstartdate != userjobpjhunjah.jstartdate or userjobpjhun.henddate != userjobpjhunjah.jenddate %>
                                                    <%= userjobpjhunjah.jstartdate.strftime('%Y.%m.%d') %>ー
                                                    <%= userjobpjhunjah.jenddate.strftime('%Y.%m.%d') %>
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhun.hname != userjobpjhunjah.jname %>
                                                    <% userjobpjhunjah.jname %>
                                                  <% end %>
                                                  <% if userjobpjhun.hfrom != userjobpjhunjah.jfrom %>
                                                    \<% userjobpjhunjah.jfrom %>
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhun.hune != userjobpjhunjah.june %>
                                                    ᠰᠠᠷ᠎ᠠ ᠳ᠋ᠤ <%= userjobpjhunjah.june %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃
                                                    <br>
                                                  <% end %>
                                                  <% if userjobpjhunjah.jenddate.present? and userjobpjhunjah.jstartdate.present? %>
                                                    <% if userjobpjhunjah.jenddate.strftime('%Y%m%d').to_i<Time.now.strftime('%Y%m%d').to_i %>
                                                      ᠳᠠᠭᠤᠰᠤᠪᠠ᠃<br>
                                                    <% else %>
                                                        <% if userjobpjhunjah.jstartdate.strftime('%Y%m%d').to_i<Time.now.strftime('%Y%m%d').to_i %>
                                                          ᠠᠵᠢᠯᠯᠠᠵᠤ ᠪᠠᠢᠨ᠎ᠠ᠃<br>
                                                        <% end %>
                                                    <% end %>
                                                  <% end %>

                                                  <% if userjobpjhunjah.userid==session[:user_id] %>

                                                  <table height="100%" bgcolor="#DEB887">
                                                    <tr>
                                                      <td>
                                                    <% payf4f5=0 %>
                                                    <% payf5=0 %>
                                                    <% payf6="" %>

                                                    <% if @myuser.userpays.any? %>
                                                      <% @myuser.userpays.each do |userpay| %>
                                                        <% if userpay.user_id.present? %>
                                                          <% if userpay.userid==@user.id and userpay.unit.strip== @userjob.unit.strip %>
                                                              <% if userpay.f4.present? %>
                                                                  <% payf4f5=payf4f5 + userpay.f4 %>
                                                              <% end %>
                                                              <% if userpay.f5.present? %>
                                                                  <% payf4f5=payf4f5 - userpay.f5 %>
                                                                  <% if userpay.typeid.present? %>
                                                                    <% if userpay.f10=="job" and userpay.typeid == userjobpjhunjah.id %>
                                                                      <% payf5=payf5 + userpay.f5 %>
                                                                      <% payf6=userpay.f6 %>
                                                                    <% end %>
                                                                  <% end %>
                                                              <% end %>
                                                          <% end %>
                                                        <% end %>
                                                      <% end %>
                                                    <% end %>

                                                    <% payf4f5 = payf4f5.round(0) %>
                                                    <% payf5 = payf5.round(0) %>
                                                    <% bune = userjobpjhunjah.june.round(0) %>

                                                    <% if payf5.round(0) > 0 %>
                                                        ᠴᠠᠯᠢᠩ:<%= payf5.round(0) %><%= @userjob.unit.strip %> ᠵᠣᠭᠤᠰ ᠬᠠᠰᠤᠪᠠ᠃
                                                        <span class="mailfrom">
                                                          <%= payf6.strftime('%Y.%m.%d %H:%M') %>
                                                        </span>
                                                        <br>
                                                        <%= link_to 'ᠲᠤᠰ ᠰᠠᠢᠳ',user_path(1),class:'command' %> ᠵᠠᠭᠤᠨ ᠤ᠋ ᠠᠷᠪᠠᠨ ᠨᠠᠢ᠍ᠮᠠ ᠢ᠋ᠢᠨ ᠠᠰᠢᠭ ᠬᠦᠷᠲᠡᠨ᠎ᠠ᠃

                                                        <% adminpayf4f5=0 %>
                                                        <% adminpayf5=0 %>
                                                        <% adminpayf6="" %>
                                                        <% adminune=0 %>
                                                        <% adminune=payf5.round(0)*0.18 %>
                                                        <%= adminune.round(0) %><%= @userjob.unit.strip %> ᠵᠣᠭᠤᠰ

                                                        <% if @adminuser.userpays.any? %>
                                                          <% @adminuser.userpays.each do |userpay| %>

                                                            <% if userpay.userid.present? %>
                                                                <% if userpay.userid==userjobpjhunjah.userid and userpay.unit.strip== @userjob.unit.strip %>
                                                                    <% if userpay.f4.present? %>
                                                                        <% adminpayf4f5=adminpayf4f5 + userpay.f4 %>
                                                                    <% end %>
                                                                    <% if userpay.f5.present? %>
                                                                      <% adminpayf4f5=adminpayf4f5 - userpay.f5 %>
                                                                      <% if userpay.f10="site" and userpay.typeid == userjobpjhunjah.id %>
                                                                        <% adminpayf5=adminpayf5 + userpay.f5 %>
                                                                        <% adminpayf6=userpay.f6.strftime('%Y.%m.%d %H:%M') %>
                                                                      <% end %>
                                                                    <% end %>
                                                                <% end %>
                                                            <% end %>

                                                          <% end %>
                                                        <% end %>

                                                        <% adminpayf4f5 = adminpayf4f5.round(0) %>
                                                        <% adminpayf5 = adminpayf5.round(0) %>

                                                        <% if adminune.round(0) <= adminpayf5 %>
                                                          ᠬᠠᠰᠤᠪᠠ᠃
                                                          <span class="mailfrom">
                                                            <%= adminpayf6 %>
                                                          </span>
                                                          <br>
                                                        <% else %>

                                                          <% if adminune.round(0) - adminpayf5 >0 %>
                                                            <% strname= "ᠠᠵᠢᠯ ᠵᠠᠬᠢᠶᠠᠯᠠᠬᠤ:" + userjobpjhun.hname + " " %>
                                                            <%= form_for([@adminuser, @adminuser.userpays.build]) do |fff| %>
                                                                  <%= fff.hidden_field :name, :value =>strname + 'ᠲᠤᠰ ᠰᠠᠢᠳ ᠳ᠋ᠤ 18% ᠲᠤᠰᠢᠶᠠᠬᠤ' %>
                                                                  <%= fff.hidden_field :f5, :value =>adminune.round(0) - adminpayf5 %>
                                                                  <%= fff.hidden_field :unit, :value =>@userjob.unit.strip %>
                                                                  <%= fff.hidden_field :userid, :value =>session[:user_id] %>
                                                                  <%= fff.hidden_field :uname, :value =>session[:user_funame] %>
                                                                  <%= fff.hidden_field :f6, :value => Time.now %>
                                                                  <%= fff.hidden_field :f7, :value => Time.now %>
                                                                  <%= fff.hidden_field :f10, :value => 'site' %>
                                                                  <%= fff.hidden_field :typeid, :value => userjobpjhunjah.id %>
                                                                  <p>
                                                                    <%= fff.submit 'ᠲᠤᠰᠢᠶᠠᠬᠤ', :class=>"btn" %>
                                                                  </p>
                                                            <% end %>
                                                          <% end %>
                                                        <% end %>

                                                    <% end %>
                                                    <% if bune.round(0)>payf5.round(0)  %>
                                                        <span class="Ankhaaruulga">
                                                           ᠦᠯᠡᠳᠡᠭᠰᠡᠨ ᠴᠠᠯᠢᠩ:<%= bune.round(0)-payf5.round(0) %><%= @userjob.unit.strip %> ᠵᠣᠭᠤᠰ
                                                        </span>

                                                        <% strname= "ᠠᠵᠢᠯ ᠵᠠᠬᠢᠶᠠᠯᠠᠬᠤ:" + userjobpjhun.hname + " " %>
                                                        <% job="job" %>
                                                        <%= form_for([@myuser, @myuser.userpays.build]) do |fff| %>
                                                              <%= fff.hidden_field :name, :value =>strname %>
                                                              <%= fff.hidden_field :f5, :value =>bune.round(0)-payf5.round(0) %>
                                                              <%= fff.hidden_field :unit, :value =>@userjob.unit %>
                                                              <%= fff.hidden_field :userid, :value =>@user.id %>
                                                              <%= fff.hidden_field :uname, :value =>@user.nickname %>
                                                              <%= fff.hidden_field :f6, :value => Time.now %>
                                                              <%= fff.hidden_field :f7, :value => Time.now %>
                                                              <%= fff.hidden_field :f10, :value => job %>
                                                              <%= fff.hidden_field :typeid, :value => userjobpjhunjah.id %>
                                                              <p>
                                                                <%= fff.submit 'ᠬᠠᠰᠠᠬᠤ', :class=>"btn" %>
                                                              </p>
                                                        <% end %>

                                                    <% end %>
                                                  </td>
                                                  </tr>
                                                  </table>
                                                  <% end %>

                                                <% end %>
                                            <% end %>

                                            <% if userjobpjhunjah.get1dt.present? %>
                                              <% get1=get1 + 1 %>
                                            <% else %>
                                              <% if userjobpjhunjah.mddt.present? %>
                                                <% md=md + 1 %>
                                              <% else %>
                                                <% hun=hun + 1 %>
                                              <% end %>
                                            <% end %>

                                          <% end %>
                                      <% end %>

                                      </td>
                                    </tr>
                                  </table>
                                  <% if hun>0 %>
                                    ᠨᠡᠢᠲᠡ<%= hun %> ᠬᠥᠮᠦᠨ ᠵᠠᠬᠢᠶᠠᠯᠠᠪᠠ᠃ <br>
                                  <% end %>
                                  <% if md>0 %>
                                    ᠨᠡᠢᠲᠡ<%= md %> ᠬᠥᠮᠦᠨ ᠶᠠᠷᠢᠯᠴᠠᠵᠤ ᠪᠠᠢᠨ᠎ᠠ᠃ <br>
                                  <% end %>
                                  <% if get1>0 %>
                                    ᠨᠡᠢᠲᠡ<%= get1 %> ᠬᠥᠮᠦᠨ ᠲᠣᠭᠲᠠᠪᠠ᠃ <br>
                                  <% end %>
                                  <% if session[:user_id] %>
                                    <% if jah==0 %>
    <% if @mymlqdbs.any? %>
      <% @mymlqdbs.each do |mymlqdb| %>

        <% if mymlqdb.a9<Time.now and mymlqdb.f9>Time.now and @myuser.sex=="ᠡᠷᠡᠭᠲᠡᠢ" and @myuser.age>=20 %>

          <% if @jobmlqdbs.any? %>
            <% @jobmlqdbs.each do |jobmlqdb| %>
              <% if jobmlqdb.a9<Time.now and jobmlqdb.f9>Time.now %>

                <% if mymlqdb.a1.strip==jobmlqdb.a1.strip and mymlqdb.f1.strip==jobmlqdb.f1.strip and mymlqdb.a2.strip==jobmlqdb.a2.strip %>
                  <%= form_for([@user,@userjob,userjobpj,userjobpjhun,userjobpjhun.userjobpjhunjahs.build]) do |f| %>
                      <%= f.hidden_field :userid, :value => session[:user_id] %>
                      <%= f.hidden_field :uname, :value => session[:user_funame] %>
                      <%= f.hidden_field :jahdt, :value => Time.now %>
                      <%= f.submit "ᠵᠠᠬᠢᠶᠠᠯᠠᠨ᠎ᠠ", :class=>"btn" %>
                  <% end %>
                <% end %>

              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    <% end %>
                                    <% end %>
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                        <% else %>
                        <% end %>
                      <% else %>
                        <table height="100%">
                          <tr>
                            <td>
                              <%= userjobpjhun.hune %><%= @userjob.unit %> ᠵᠣᠭᠤᠰ ᠃
                            </td>
                          </tr>
                        </table>
                      <% end %>

                      </li>
                    <% end %>
                <% end %>
                </ul>
            <% end %>

            </li>
          <% end %>
      <% end %>
      </ul>
  <% end %>
<% end %>
