
<h2>
  <%= @userjobpjhunjah.uname %> ᠤ᠋ᠨ ᠵᠠᠬᠢᠶᠠᠯᠠᠯᠭ᠎᠎ᠠ ᠶ᠋ᠢ ᠵᠠᠰᠠᠬᠤ
  <%= link_to @userjob.name,user_userjob_path(@user,@userjob),class:'header-menu' %>&ensp;
</h2>

<%= form_for @userjobpjhunjah, url: user_userjob_userjobpj_userjobpjhun_userjobpjhunjah_path(@user,@userjob,@userjobpj,@userjobpjhun,@userjobpjhunjah) do |f| %>
    <table>
      <tr colspan="2">
        <td colspan="2">
          <p>
            <%=f.text_area :jname,placeholder: '* ᠶᠠᠮᠠᠷ ᠠᠵᠢᠯ', :class=>"gaarea" %>
            <%=f.text_area :jfrom,placeholder: 'ᠨᠠᠷᠢᠨ ᠠᠭᠤᠯᠭ᠎ᠠ', :class=>"gaarea" %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          ᠬᠤᠭᠤᠴᠠᠭ᠎ᠠ<br>
          <%= f.date_select :jstartdate, :use_month_numbers => true,  datetime_separator:' ',:time_separator => ' ' %>
          ~
          <%= f.date_select :jenddate, :use_month_numbers => true, datetime_separator:' ',:time_separator => ' ' %>
        </td>
        <td>
             ᠰᠠᠷ᠎ᠠ ᠪᠦᠷᠢ<br>&ensp;
            <%=f.number_field :june, step:0.001,placeholder: '1000' %><br>&ensp;<%= @userjob.unit %> ᠵᠣᠭᠤᠰ᠃
        </td>
      </tr>
    </table>
    <p>
      <%= f.hidden_field :junit, :value => @userjob.unit %>
      <%= f.submit "ᠬᠠᠳᠠᠭᠠᠯᠠᠬᠤ", :class=>"btn" %>
    </p>
<% end %>
