

<h2>
  ᠵᠠᠰᠠᠬᠤ
  <%= link_to @mott.f1,motd_mott_path(@motd,@mott),class:'header-menu' %>&ensp;&ensp;
</h2>

<% if @mottimage.picture.present? %>

    <table height="100%">
      <tr>
        <td>
          <h2>ᠵᠢᠷᠤᠭ</h2>
          <div class="img">
            <%= image_tag @mottimage.picture.url, :class => "img"%>
          </div>
          <br>
        </td>
        <td>
          <% if @mottimage.mottpictxts.any? %>
              <% @mottimage.mottpictxts.each do |mottpictxt| %>
                  <% if @mottpictxt.id==mottpictxt.id %>
                      <%= form_for @mottpictxt, url: motd_mott_mottimage_mottpictxt_path(@motd,@mott,@mottimage,@mottpictxt) do |ff| %>
                          <p>

                            ᠭᠠᠷᠴᠠᠭ
                            <%=ff.text_area :picga,:size=>"100x2", :class=>"gaarea" %>
                          </p>
                          <p>
                            ᠪᠠᠳᠠᠭ
                            <%=ff.text_area :picba,:size=>"100x2", :class=>"area" %>
                          </p>
                          <p>
                            ᠳᠠᠬᠢᠯᠲᠠ
                            <%=ff.text_area :picda,:size=>"100x2", :class=>"gaarea" %>
                          </p>
                          <p>
                            <%= ff.submit "ᠬᠠᠳᠠᠭᠠᠯᠠᠬᠤ", :class=>"btn",:autofocus=>"autofocus"  %>
                          </p>
                      <% end %>
                  <% else %>

                      <% if mottpictxt.picga.present? %>
                        <h2><%= mottpictxt.picga %></h2>
                      <% end %>
                      <% if mottpictxt.picba.present? %>
                        <%= mottpictxt.picba %>
                      <% end %>
                      <% if mottpictxt.picda.present? %>
                        &nbsp;&nbsp;&nbsp;&nbsp;<%= mottpictxt.picda %>&nbsp;
                      <% end %>
                      <br>
                  <% end %>
                <% end %>
            <% end %>
          </td>
        </tr>
    </table>

<% end %>

<br>
