

<h2>
  ᠵᠠᠰᠠᠬᠤ
  <%= link_to @mott.f1,motd_mott_path(@motd,@mott),class:'header-menu' %>&ensp;&ensp;
</h2>

<% if @mottimage.audio.present? %>

    <table height="100%">
      <tr>
        <td>
          <h2>ᠳᠠᠭᠤᠤ</h2>
          <% if @mottimage.picture.present? %>
              <span class="auto">
                  <%= video_tag @mottimage.audio_url.to_s, :loop=>true, :autoplay=>false, :muted=>false, :preload=>"auto", :playsinline=>true, :poster=>@mottimage.picture.url, :controls=>true,:style => "border:solid 2px #aaaaaa", :class => "auto"%>
              </span>
          <% else %>
              <span class="auto">
                  <%= video_tag @mottimage.audio_url.to_s, :loop=>true, :autoplay=>false, :muted=>false, :preload=>"auto", :playsinline=>true, :poster=>"unnamed.gif", :controls=>true,:style => "border:solid 2px #aaaaaa", :class => "auto"%>
              </span>
          <% end %>
          <br>
        </td>
        <td>
          <% if @mottimage.mottimagetxts.any? %>
              <% @mottimage.mottimagetxts.each do |mottimagetxt| %>
                  <% if @mottimagetxt.id==mottimagetxt.id %>
                      <%= form_for @mottimagetxt, url: motd_mott_mottimage_mottimagetxt_path(@motd,@mott,@mottimage,@mottimagetxt) do |ff| %>
                          <p>
                            ᠭᠠᠷᠴᠠᠭ
                            <%=ff.text_area :adiddga,:size=>"100x2", :class=>"gaarea" %>
                          </p>
                          <p>
                            ᠪᠠᠳᠠᠭ
                            <%=ff.text_area :adiba,:size=>"100x2", :class=>"area" %>
                          </p>
                          <p>
                            ᠳᠠᠬᠢᠯᠲᠠ
                            <%=ff.text_area :adida,:size=>"100x2", :class=>"gaarea" %>
                          </p>
                          <p>
                            <%= ff.submit "ᠬᠠᠳᠠᠭᠠᠯᠠᠬᠤ", :class=>"btn",:autofocus=>"autofocus"  %>
                          </p>
                      <% end %>
                  <% else %>

                      <% if mottimagetxt.adiddga.present? %>
                        <h2><%= mottimagetxt.adiddga %></h2>
                      <% end %>
                      <% if mottimagetxt.adiba.present? %>
                        <%= mottimagetxt.adiba %>
                      <% end %>
                      <% if mottimagetxt.adida.present? %>
                        &nbsp;&nbsp;&nbsp;&nbsp;<%= mottimagetxt.adida %>&nbsp;
                      <% end %>
                      <br>
                  <% end %>
                <% end %>
            <% end %>
          </td>
        </tr>
    </table>

<% end %>

<br>
