<h2>
  ᠵᠣᠭᠤᠰ ᠬᠤᠷᠢᠶᠠᠬᠤ ᠵᠢᠷᠤᠭ ᠢ᠋ᠢᠡᠨ ᠵᠠᠰᠠᠬᠤ
  <%= link_to @user.nickname,user_path(@user),class:'header-menu' %>&ensp;
</h2>

<% if @user.payimages.any? %>
  <%= form_for @payimage, url: user_payimage_path(@user,@payimage) do |f| %>
    <table>
      <tr>
        <td>
          <%= image_tag @payimage.picture.url, :class => "payimg" %><br>
        </td>
      </tr>
    </table>
    <p>
      <%= f.file_field :picture, :type=>"file", :class=>"imagefield" , :id=>"file", :class=>"mgltig"  %>
      <%=f.text_area :name,placeholder: 'ᠵᠣᠭᠤᠰ ᠬᠤᠷᠢᠶᠠᠬᠤ ᠵᠢᠷᠤᠭ',:class=>"gaarea" %>
    </p>
    <p>
      <%= f.submit " ᠬᠠᠳᠠᠭᠠᠯᠠᠬᠤ", :class=>"btn" %>
    </p>

  <% end %>
<% end %>
